  <div class="container-flex">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          Latest Blogs&nbsp;&nbsp;
          
          <button type="button" class="btn btn-sm btn-primary"><i class="fa fa-star"></i>&nbsp;&nbsp; {{totalNewPost}} </button>
            &nbsp;
            <i class="icon-reload icons pull-right" style="font-weight:bold;font-size:2em;color:maroon;cursor:pointer" ng-click="scrape()"></i>
            <!--
          <button type="button" class="btn btn-primary btn-sm pull-right" >Refresh</button>
            -->
        </div>
        <div class="card-body">
          <table class="table table-striped">
              <!--
            <thead>
              <tr>
                <th>Blog</th>
                <th></th>
                <th></th>
                <th></th>
              </tr>
            </thead>
              -->
            <tbody>
              <tr ng-repeat="eachData in blogList | orderBy : '-createdAt'">
                  <td style="cursor:pointer">
                      <a href="{{eachData.link}}" target="_blank" >
                          <h5>   {{eachData.label}} 
                              &nbsp;&nbsp;&nbsp;<span class="badge badge-danger" ng-if="eachData.status=='new'">New</span> 
                              &nbsp;&nbsp;&nbsp;<span class="badge badge-success">{{eachData.identifier}}</span> 
                          </h5>
                     </a>
                  </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>    
  </div>