<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Create Question</h3>
</div>
<div class="modal-body" id="modal-body">
    <form>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="nf-email">Question</label>
                    <textarea type="text" ng-model="uiConfig.model.question" class="form-control" rows="5" ></textarea>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label for="nf-email">Description</label>
                    <textarea type="text" ng-model="uiConfig.model.description" class="form-control" rows="8" ></textarea>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label for="nf-password">Topic</label>
                    <select class="form-control" ng-model="uiConfig.model.topic">
                        <option ng-repeat="eachData in uiConfig.topicList" value="{{eachData.value}}">{{eachData.key}}</option>
                    </select>
                </div>
            </div>
        </div>

    </form>

</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="create(uiConfig.model)" ng-show="uiConfig.editMode==false">Create</button>
    <button class="btn btn-primary" type="button" ng-click="update(uiConfig.model)" ng-show="uiConfig.editMode==true">Update</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>
